* {
	margin: 0;
	padding: 0;
}

body {
	background: peachpuff;
	font-family: cursive;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	height: 130px;
	font-family: fantasy;
	background: antiquewhite;
	color: darkturquoise;
	border: 2px double turquoise;


}
.left-nav {
	cursor: pointer;
}
.left-nav:hover {
	text-decoration: underline wavy turquoise 2px;
	font-size: 1.5rem;
	position: relative;
	
}
.center-nav {
	text-align: center;
}
.logo {
	font-family: cursive;
	font-size: 2rem;

}
.right-nav {
	display: flex;
}
.right-nav div {
	padding: 10px;
	cursor: pointer;
}
.right-nav div:hover {
	padding: 10px;
	cursor: pointer;
	text-decoration: underline wavy turquoise 2px;
	font-size: 1.5rem;
	position: relative;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("digitalheaven.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px double turquoise;
}

.banner-text {
	text-align: center;
	position: relative;
	font-size: 1.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: peachpuff;
}

.button {
	margin: 20px;
	cursor: pointer;
	font-size: 1.5rem;
	font-family: cursive;
	border: 2px double turquoise;
	border-radius: 25px;
}
.button:hover {
	margin: 20px;
	cursor: pointer;
	font-size: 2rem;
	font-family: cursive;
	/*text-decoration: underline wavy peachpuff 2px;*/
	border: 2px double turquoise;
	border-radius: 25px;
}
.title {
	text-align: center;
	margin: 10px;
	color: darkturquoise;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.gallery > img {
	border: 2px double turquoise;
	border-radius: 25px;
	height: 200px;
	width: 200px;
	margin: 5px;

}
.footer {
	margin: 20px;
	text-align: center;
	background: antiquewhite;
	border: 2px double turquoise;
}